html,body{
    height: 100%;
    min-width:1024px;
    max-width:100%;
    background-color: whitesmoke;
}

body{
    padding-top: 80px !IMPORTANT;
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6,p { font-family: "PingFang SC";}