* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1100px;
    margin: 0px auto;
}
.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    /* padding: 10px; */
    border-top: 1px solid white;
    color: #fff;
    
}
.menu_item {
    position: relative;
    flex: 1;
    height: 100%;
    line-height: 40px;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.menu_item1 {
    position: relative;
    flex: 1;
    height: 100%;
    line-height: 40px;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.menu_item:hover {
    cursor: pointer;
    transform: rotateX(90deg);
}
.home, .web_home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 300px;
}
.home {
    color: black;
    background-color: white;
    z-index: 11;
    transform: translateZ(25px);
}
.web_home {
    background-color: #62ab00;
    transform: translateY(25px) rotateX(-90deg);
}
.fix{
    background-color: #62ab00;
}