.header-nav {
    width: 100%;
    height: 80px;
    background-color: #62ab00;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}
.container.clearfix{
    position: relative;
    display: flex;
    width: 90%;
    max-width: 1170px;
}


.header-nav .container .do {
    height: 80px;
    width: 540px;
    margin-bottom: 0;
    display: flex;
    min-width: 200px;
}
.w1200 {
    /* width: 1200px; */
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    font-size: 16px;
}
.w1200 .l {
    float: left;
    font-size: 22px;
}
.w1200 {
    /* background: #62ab00; */
    /* height: 50px; */
    line-height: 70px;
    color: #fff;
}
.w1200 .l font {
    font-size: 22px;
    border-left: 1px solid #fff;
    margin-left: 20px;
    padding-left: 20px;
}
.do li {
    line-height: 80px;
    width: 90px;
    height: 80px;
    margin-bottom: 0;
    text-align: center;
    margin-right: 15px;
    float: left;
}

.userBox {
    flex: 1;
}

.do li {
    line-height: 80px;
    width: 90px;
    height: 80px;
    margin-bottom: 0;
    text-align: center;
    margin-right: 15px;
    float: left;
}   


@media (min-width: 768px) {
    .header-nav .container .do{
        position: absolute;
        right: 0;
    }
    
}

.login{
    color: #fff;
    display: inline-block;
    width: 67px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
}

.login:hover,.login:focus{
    color:#fff;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.nav-list li a{
    line-height: 80px;
    font-size: 15px;
    color: #272727;
    padding: 0 30px;
    cursor: pointer;
    display: block;
    position: relative;
}
.nav-list li a.act,.nav-list li a:hover{
    font-weight: 700;
    color: #fb8944;
    text-decoration: none;
    background-color: transparent;
    width: 99px;
}

ul li{
    margin-bottom: 10px;
}

ul{
    list-style: none;
}

